:root {
    --clr-dark: oklch(0.208 0.042 265.755);
    --clr-light: oklch(0.968 0.007 247.896);
    --clr-slate-800: oklch(0.279 0.041 260.031);
    --clr-slate-700: oklch(0.372 0.044 257.287);
    --clr-slate-600: oklch(0.446 0.043 257.281);
    --clr-slate-500: oklch(0.554 0.046 257.417);
    --clr-slate-200: oklch(0.929 0.013 255.508);
    --clr-slate-300: oklch(0.869 0.022 252.894);

}