:root {
    --clr-dark: var(--clr-slate-900);
    --clr-light: var(--clr-slate-100);
    
    //Slate Pallet
    --clr-slate-950: oklch(0.129 0.042 264.695);
    //950 hsl(228.82 85% 5%)
    --clr-slate-900: oklch(0.208 0.042 265.755);
    //900 hsl(222.34 49% 11%)
    --clr-slate-800: oklch(0.279 0.041 260.031);
    //800 hsl(217.28 36% 18%)
    --clr-slate-700: oklch(0.372 0.044 257.287);
    //700 hsl(215.29 28.000000000000004% 27%)
    --clr-slate-600: oklch(0.446 0.043 257.281);
    //600 hsl(215.29 22% 35%)
    --clr-slate-500: oklch(0.554 0.046 257.417);
    //500 hsl(215.38 18% 47%)
    --clr-slate-400: oklch(0.704 0.04 256.788);
    //400 hsl(214.99 23% 65%)
    --clr-slate-300: oklch(0.869 0.022 252.894);
    //300 hsl(212.72 30% 84%)
    --clr-slate-200: oklch(0.929 0.013 255.508);
    //200 hsl(214.28 33% 91%)
    --clr-slate-100: oklch(0.968 0.007 247.896);
    //100 hsl(210 41% 96%)
    --clr-slate-50: oklch(0.984 0.003 247.858);
    //50 hsl(210 35% 98%)
}