h1 {
	font-size: 2rem;
	font-size: clamp(2rem, 0.7179487179rem + 5.4700854701vw, 4rem);
	background: var(--tx-gradient);
	-webkit-background-clip: text;
	color: transparent;
	display: inline-block;
}
