:root {
	// Site Color
	--clr-dark: var(--color-slate-900);
	--clr-light: var(--color-slate-100);

	--color-black: #000;
	--color-white: #fff;

	--clr-50: var(--color-slate-50);
	--clr-100: var(--color-slate-100);
	--clr-200: var(--color-slate-200);
	--clr-300: var(--color-slate-300);
	--clr-400: var(--color-slate-400);
	--clr-500: var(--color-slate-500);
	--clr-600: var(--color-slate-600);
	--clr-700: var(--color-slate-700);
	--clr-800: var(--color-slate-800);
	--clr-900: var(--color-slate-900);
	--clr-950: var(--color-slate-950);
}
