.location {
	display: grid;
	grid-template-columns: var(--grid-col-spacing);
	gap: var(--space-gap);
	padding: var(--size-p-4) 0;

	&__title {
		grid-column: 2 / -2;
		text-align: center;
	}

	&__contact {
		grid-column: 2 / 3;
		max-width: 50ch;
		text-align: left;

		h2 {
			color: var(--clr-400);
		}
		h3 {
			color: var(--clr-400);
		}

		@media (width >= 43.75em) {
			grid-column: 3 / 5;
		}

		@media (width >= 62.5em) {
			grid-column: 2 / 5;
		}
	}

	&__hours {
		grid-column: 3 / -1;
		max-width: 50ch;
		text-align: left;

		h2 {
			color: var(--clr-400);
		}
		h3 {
			color: var(--clr-400);
		}

		@media (width >= 43.75em) {
			grid-column: 5 / -3;
		}

		@media (width >= 62.5em) {
			grid-column: 5 / 8;
		}
	}

	&__map {
		width: 100%;
		height: 0;
		grid-column: 2 / -2;
		padding-bottom: 400px;

		iframe {
			top: 0;
			left: 0;
			width: 100%;
			height: 400px;
			border: none;
			border-radius: 15px;
		}

		@media (width >= 43.75em) {
			grid-column: 3 / -3;
		}

		@media (width >= 62.5em) {
			grid-column: 8 / -2;
		}
	}
}
