.tattoo {

    &__title {
        grid-column: 2 / -2;
        text-align: center;
    }
    
    &__img {
        grid-column: 2 / -2;
        
        @media (width >= 43.75em) {
            grid-column: 2 / 5;
        }
        
        @media (width >= 62.5em) {
            grid-column: 2 / 8;
        }
    }

    &__info {
        grid-column: 2 / -2;
        
        
        @media (width >= 43.75em) {
            grid-column: 5 / -2;
        }
        
        @media (width >= 62.5em) {
            grid-column: 8 / -2;
        }
    }
}