* {
    box-sizing : border-box;
}
body { 
    background-color: rgb(0, 0, 0);
    color: rgb(214, 164, 27);
    width: 80%; /* Set a fixed width for the body element */ 
    margin-left: auto;
    margin-right: auto;
  } 
  a:visited{
    color: white;
  }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
.navbar{
 position: relative;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 150px;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    display: inline-block;
}

.eventlayout{
    padding-top: 25px;
}
.eapp-events-calendar-events-calendar-title.jsx-768327535{
    text-align: center;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

